<div class="d-flex justify-content-center">
<%= form_with(model: announcement) do |form| %>
  <% if announcement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(announcement.errors.count, "error") %> prohibited this announcement from being saved:</h2>

      <ul>
        <% announcement.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group form-control-lg">
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </div>

  <div class="form-group form-control-lg">
    <%= form.label :description %><br>
    <%= form.text_area :description %>
  </div>

  <%= form.hidden_field :user_id , :value => current_user.id %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
</div>
