<p id="notice"><%= notice %></p>

<h1>Announcements</h1>

<%= render 'shared/announcements_list' %>

<h2>Upcoming Events</h2>
<%= render 'shared/upcoming_events' %>
<%= render 'shared/seminar_calendar' %>

<%= link_to 'New Announcement', new_announcement_path %>
