<%= form_with model: [ @meeting, @meeting.counselings.build ] do |form| %>

    <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
    </div>

  <div class="field">
    <%= form.label :attending, "I'm attending" %>
    <%= form.radio_button :attending, "I'm attending" %>
  </div>
  <%= form.hidden_field :user_id , :value => current_user.id %>
  <%= form.hidden_field :meeting_id , :value => @meeting.id %>



  <div class="actions">
  <%= form.submit %>
</div>
    <% end %>