<p id="notice"><%= notice %></p>

<h1>Meetings</h1>

<%= render 'shared/meeting_calendar' %>



<table class="table table-striped table-hover table-secondary">
  <thead>
    <tr>
      <th scope="col">Meetings</th>
    </tr>
  </thead>

  <tbody>
    <% @meetings.each do |meeting| %>
      <tr>
        <td><p><b>Counselor: </b> <%= link_to meeting.name, meeting %><br><b>Description: </b><%= meeting.description %><br><b>Starts at: </b><%= meeting.start_time %> <br><b>Ends at: </b><%= meeting.end_time %></p></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Meeting', new_meeting_path %>
