<p id="notice"><%= notice %></p>

<h2 class="text-center">
  One On One with 
  <%= @meeting.name %>
</h2>

<p class="text-center">
  <%= @meeting.description %>
</p>

<p class="text-center">
  Start time: <%= @meeting.start_time %> | End time: <%= @meeting.end_time %>
</p>




<h2 class="text-center">Register for One-On-One Help</h2>

<p class="text-center">There is <%= @meeting.counselings.count %> people attending this event.</p>

<% if @meeting.counselings.count == 1 %>
<p class="text-center" style="color: #ff0000">Closed</p>

<% else %>
<%= render 'counseling_signup' %>
<% end %>

<%= link_to 'Edit', edit_meeting_path(@meeting) %> |
<%= link_to 'Back', meetings_path %>
