<div class="d-flex justify-content-center">
<%= form_with(model: counseling) do |form| %>
  <% if counseling.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(counseling.errors.count, "error") %> prohibited this counseling from being saved:</h2>

      <ul>
        <% counseling.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group form-control-lg">
    <%= form.label :name %><br>
    <%= form.text_field :name %>
    <%= form.label :attending %>
    <%= form.check_box :attending %>
  </div>

  <div class="form-group form-control-lg">
    <%= form.label :reason %><br>
    <%= form.text_area :reason %>
  </div>
  
  <%= form.hidden_field :user_id , :value => current_user.id %>
  <%= form.hidden_field :meeting_id , :value => @meeting.id %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
</div>