<div class="d-flex justify-content-center">
<%= form_with model: [ @seminar, @seminar.signups.build ] do |form| %>

    <div class="form-group form-control-lg>
    <%= form.label :full_name %><br>
    <%= form.text_field :full_name %>
    </div>

  <div class="field">
    <%= form.radio_button :attending, "I'm attending" %>
    <%= form.label :attending, "Attending" %>
  </div>
  <%= form.hidden_field :user_id , :value => current_user.id %>
  <%= form.hidden_field :seminar_id , :value => @seminar.id %>



  <div class="actions">
  <%= form.submit %>
</div>
    <% end %>
    </div>