<div cla>
  <div class="row bg-secondary">
    <div class="col">
      Quick Links
    </div>
    <div class="col">
      The Creators
    </div>
  </div>

  <div class="row bg-dark">
    <div class="col">
    <ul>
      <li>
        <%= link_to 'My Account', edit_user_registration_path %>
      </li>  
      <li>
        <%= link_to 'Announcements', announcements_path %>
      </li>  
      <li>
        <%= link_to 'Seminars', seminars_path %>
      </li>  
      <li>
        <%= link_to 'Meetings', meetings_path %>
      </li>  
      <ul>
    </div>
    <div class="col">
      <span>Gus Meyer</span>
      <ul>
      <li>
      <p><%= link_to 'Email' ,"mailto:karlmeyeriii@live.com" %></p>
      </li>
      <li>
      <p><%= link_to 'GitHub', "https://github.com/Gus-Meyer" %></p>
      </li>
      <li>
      <p><%= link_to 'LinkedIn', "https://www.linkedin.com/in/gus-meyer-b0495a68/" %></p>
      </li>
      </ul>
    </div>
    <div class="col">
      <span>Curtis Shepard</span>
      <ul>
      <li>
      <p><%= link_to 'Email' , "mailto:bootup.itinfo@gmail.com" %></p>
      </li>
      <li>
      <p><%= link_to 'GitHub', "https://github.com/bootupdesigner" %></p>
      </li>
      </li>
      <li>
      <p><%= link_to 'LinkedIn', "https://www.linkedin.com/in/curtis-shepard-2a3654181/" %></p>
      </li>
      </ul>
    </div>
  </div>
</div>