<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @seminar.title %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @seminar.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @seminar.end_time %>
</p>

<p>
<strong>Image URl</strong>
<%= @seminar.image %>
</p>

<p>
<strong>Description</strong>
<%= @seminar.description %>
</p>

<p>There are <%= @seminar.signups.count %> people attending this event.</p>

<% if @seminar.signups.count == 4 %>
<p style="color: #ff0000;">Closed</p>

<% else %>
<%= render 'signups/seminar_signup' %>
<% end %>

<%= link_to 'Edit', edit_seminar_path(@seminar) %> |
<%= link_to 'Back', seminars_path %>
