<p id="notice"><%= notice %></p>

<h1 class="text-center">
  <%= @seminar.title %>
</h1>

<figure class="d-flex justify-content-center">
<%= image_tag @seminar.image, style: 'width: 50vw; height: 50vh;' %>
</figure>

<table class="table table-striped table-hover table-secondary">
  <thead>
    <tr>
      <th scope="col"><%= @seminar.title %></th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <th scope="row">
      <p>Description: 
<%= @seminar.description %>
</p>
<p>Start time:
  <%= @seminar.start_time %></p>
      </th>
    <tr>

  </tbody>

</table>  

<br>

<h3 class="text-center">Reserve your seat at this event</h3>

<p class="text-center">There are <%= @seminar.signups.count %> people attending this event.</p>

<% if @seminar.signups.count == 4 %>
<p class="text-center" style="color: #ff0000;">Closed</p>

<% else %>
<%= render 'signups/seminar_signup' %>
<% end %>

<%= link_to 'Edit', edit_seminar_path(@seminar) %> |
<%= link_to 'Back', seminars_path %>
